<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms) & developing, designing Responsive and Mobile-First Web Applications & Hybrid Mobile Applications.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Having worked in multiple domains like - Health Care, Logistics GPS tracking systems etc.
            i have been into challenging problems throughout my career.
    			</li>
          <li>
            Worked on cutting edge technology like - Angular, React Native, Ionic Framework, NodeJS, MongoDB etc. i am pretty
            good at adopting new technologies.
          <li>
            Preferred deploying on cloud platforms (Amazon's AWS, Google's GCP etc), saving lot of development time by
            making use of cloud services.
    			<li>
            Streamlined Development by using version controls(Git, Bitbucket etc), using multiple branch to keep track of 
            different on-going versions of application. 
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
