<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and
						swap articles with collegues.
					</li>
					<li>
						<b>Movies and TV Series</b>. I've been an enthusiastic hobbiest since I was a teenager - but only as an adult i
						started enjoying and liking
						world cinema, love to watch a lot of movies and tv series.
					</li>
					<li>
						<b>Mountaineering</b>. I live in Bangalore, home of some of the wildest mountains and trails in the country. I
						enjoy spending weekends
						on scrambles and getting lost in the woods with friends.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						HealthSignz Poz and Doctor app is a front-end delivery Hybrid Mobile Application for HS partners and
						doctors to provide various services to people like onboarding and sell of pharmacy products based on doctor
						advice, diagnostic services, wellness services and creation of doctor schedule and creation of new poc and
						control that poc including employee creation and lots more.
					</li>
					<li>
						Lambda Analytics is a web portal having account based access to get analytics associated with logged-in accounts.
						These analytics include business performance and data visualization using Graphs and Charts.
						It include report generation based on business required.
					</li>
					<li>
						LIVEPIN PORTAL is an informative and login based portal and Hybrid Mobile Application having information about
						products and their features. User can login to see their devices on Google Map.
						It includes relatime-tracking using a hardware GPS Device.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
