<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and
						swap articles with colleagues.
					</li>
					<li>
						<b>Mountaineering</b>. I live in Bangalore, home to some of the wildest mountains and trails in the country. I
						enjoy spending weekends
						on scrambles and getting lost in the woods with friends.
					</li>
					<li>
						<b>Music</b>. Plato said that “music is a moral law. It gives soul to the universe, wings to the mind, flight to
						the imagination, and charm and gaiety to life and to everything”.
						I love singing and listening to songs. Currently, I am trying to put my fingers on the guitar string.
					</li>
					<li>
						<b>Movies and TV Series</b>. I've been an enthusiastic hobbyist since I was a teenager - but only as an adult i
						started enjoying and liking
						world cinema, love to watch a lot of movies and TV series.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						<b>Bring Your Docs to GenAI</b> is a web application for efficient document management, allowing users to upload, modify, and delete documents stored in Azure Containers. It features real-time chat functionality (Using Azure OpenAI RAG Architecture) for interactive document engagement and a feedback mechanism for user input.
					</li>
					<li>
						<b>HealthSignz Poz and Doctor app</b> is a front-end delivery Hybrid Mobile Application for HS partners and
						doctors to provide various services to people like onboarding and sale of pharmacy products based on doctor
						advice, diagnostic services, wellness services creation of doctor schedules, and creation of new POC and
						control that POC including employee creation and lots more.
					</li>
					<li>
						<b>LIVEPIN PORTAL</b> is an informative and login-based portal and Hybrid Mobile Application having information about
						products and their features. User can log in to see their devices on Google Maps.
						It includes real-time tracking using a hardware GPS Device.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
